{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "我的订阅" %}{% endblock %}

{% block content %}
<div class="row my-4">
<div class="col-sm-3 col-lg-2">
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link {% block post-subscribe-cls %}{% endblock %}" id="v-pills-post-subscribe-tab" href="#v-pills-post-subscribe" role="tab" aria-controls="v-pills-post-subscribe" aria-selected="true">{% trans "文章订阅" %}</a>
  <a class="nav-link {% block deliver-settings-cls %}{% endblock %}" id="v-pills-deliver-settings-tab" href="{% url 'subscription_deliver_settings' %}" role="tab" aria-controls="v-pills-deliver-settings" aria-selected="false">{% trans "投递设置" %}</a>
  <a class="nav-link {% block deliver-log-cls %}{% endblock %}" id="v-pills-deliver-log-tab" href="{% url 'subscription_deliver_log' %}" role="tab" aria-controls="v-pills-deliver-log" aria-selected="false">{% trans "投递日志" %}</a>
</div>
</div>
<div class="col">
<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="v-pills-{% block tab-content-id %}{% endblock %}" role="tabpanel" aria-labelledby="v-pills-{% block tab-content-label %}{% endblock %}-tab">{% block tab-content %}{% endblock %}</div>
</div>
</div>
</div>
{% endblock %}
