{% extends "profiles/base_profile.html" %}

{% load i18n %}

{% block profile-chg-email-cls %}active{% endblock %}

{% block tab-content %}
{% include 'pages/_partials/snippet_change_email.html' %}
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
