{% extends "profiles/base_profile.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block profile-chg-pwd-cls %}active{% endblock %}

{% block profile-chg-pwd-content-cls %}show active{% endblock %}

{% block profile-chg-pwd-content %}
<h4 class="my-4">{% trans "Change Password" %}</h4>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name="action">{% trans "Change Password" %}</button>
</form>
{% endblock %}
