{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="renderer" content="webkit">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="MoEar文章管理推送服务">
  <meta name="keywords" content="MoEar,Kindle,推送,Amazon,文章管理,CMS">
  <link rel="stylesheet" href="/static/pages/css/bootstrap.css">
  <link rel="stylesheet" href="/static/pages/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/static/pages/css/app.css">
  <title>{% block head_title %}{% trans "MoEar" %}{% endblock %}</title>
  {% block extra_head %}{% endblock %}
</head>
<body>
  {%- block body %}

  {%- if messages %}
  <div>
    <strong>Messages:</strong>
    <ul>
    {%- for message in messages %}
      <li>{{ message }}</li>
    {%- endfor %}
    </ul>
  </div>
  {%- endif %}

  <div>
    <strong>Menu:</strong>
    <ul>
    {%- if user.is_authenticated %}
      <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
      <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
    {%- else %}
      <li><a href="{% url 'account_login' %}">Sign In</a></li>
      <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
    {%- endif %}
    </ul>
  </div>
  {%- block content %}{% endblock %}
  {%- endblock %}
  <script src="/static/pages/js/jquery.js"></script>
  <script src="/static/pages/js/bootstrap.js"></script>
  <script src="/static/pages/js/vue.js"></script>
  <script src="/static/pages/js/app.js"></script>
  {%- block extra_body %}{% endblock %}
</body>
</html>
