{% load i18n %}

<h4 class="title my-4">{% trans "设置" %}</h4>

<form id="form-deliver-settings" method="POST" action="{% url 'subscription_deliver_settings' %}">
  {% csrf_token %}
  {{ form.as_div }}
  <button type="submit" class="btn btn-primary my-3 generic-ajax-submit">{% trans "保存设置" %}</button>
</form>

<hr>

<div class="alert alert-warning">
  {% blocktrans %}
  注意：您必须先激活您的 Kindle ，然后到亚马逊的<a href="https://www.amazon.cn/mn/dcw/myx.html#/home/settings/payment" class="text-info" target="_blank">账户中心</a>【管理我的内容和设备】-【设置】-【个人文档设置】，将 "<span class="text-primary">{{ default_from_email }}</span>" 加入到【已认可的发件人电子邮箱列表】。
  {% endblocktrans %}
</div>
